body {
  color-scheme: dark;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: darkgray;
}

.header {
  background-color: darkgray;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.button {
  background-color: coral;
  color: rebeccapurple;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.button-grid {
  color: darksalmon;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: left;
  margin-bottom: 20px;
}

footer {
  color-scheme: dark;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #776969;
  padding: 10px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: palevioletred;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-create {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: darkgreen;
}
